language: node_js
node_js:
  - "7"
script:
  cd front-end;
  npm install;
  npm run build;
  cd build
deploy:
  provider: pages
  skip_cleanup: true
  repo: soulomoon.github.io
  target_branch: master
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
