.BlogBody {
  height: 100%;
  display: flex;
  overflow: scroll;
  /*border: 1px solid black;*/
}
@media screen and (max-width: 750px) {
    .ImgContainer img {
      visibility: hidden;
    }
}
@media screen and (max-width: 1200px) {
/*content###################*/
    .BlogBody {
      display: block;
    }
    .BlogContent {
        width: 100%;
        height: 10%;
    }

    .BlogContentTopBar{
      height: 100%;
      /*border: 1px solid #333;*/

      width: 100%;
    }

    .BlogTopBarGallery {
        height: 80%;
    }
    .BlogTopBarGalleryRow{
      display: flex;

      position: absolute;
      padding-right: 0;
      padding-left: 25%;
    }

    .ImgContainer{
      padding-right: 0%;
      padding-left: 0%;

    }
    .ImgContainer img {
        right: 0;
        left: 0;
    }

/*content###################*/

/*sidbar####################*/
    .BlogSideBar ul {
      display: flex;
    }
    .BlogSideBar li {
      width: 20%;
      height: 100%;

    }
    .BlogSideBar a{
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    .BlogSideBar {
      width: 100%;
      height: 10%;
      /*border: 1px solid red;*/
      display: flex;
      
      position: relative;
    }
    .BlogSideBarItems {
      position: relative;
      height: 100%;
      /*border: 1px solid yellow;*/
    }
    .BlogTopBarLogoContainer {
      width: 100%;
      height: 100%;
    }
    /*sidebar log*/
    .BlogTopBarLogo {
      width: 25%;
      height: auto;
      overflow: visible;
      position: relative;
    }


    /*sidebar log*/
    
/*sidbar####################*/

}

/*equal children height*/

/*div.BlogBody>* {
  padding-bottom: 100%;
  margin-bottom: -100%;
}*/
