.BlogSideBar {
  width: 20%;
  /*height: 100%;*/
  /*border: 1px solid red;*/
  position: relative;
}

.BlogTopBarLogo {
  width: 100%;
  height: 30%;
  /*border: 1px solid red;*/
  position: relative;
}

.BlogSideBarItems {
  position: relative;
  width: 100%;
  height: 70%;
  /*border: 1px solid yellow;*/
}



.BlogSideBar ul {
  margin: 0;
  padding: 0;
  /*margin-bottom: 2em;*/
  font-size: 1em;
  list-style-type: none;
  background-color: #ffffff;
  width: 100%;
  height: 100%;

}

.BlogSideBar a{
  font-family: Futura;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 5%;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.SidebarExtButton h4{
  margin: 0;
}

.BlogSideBar ul li a.active {
  background-color: #2c2c2c;
  color: #d9d9d9;

  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*.BlogSideBar ul li a:hover {
  -moz-transform: scale(11);
  -webkit-transform: scale(11);
  transform: scale(11);
}*/
.BlogSideBar ul li a:hover.active {

  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.BlogSideBar ul li a:hover:not(.active) {
  background-color: #d9d9d9;
  color: white;

  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
