.SideBarContent {
  /*position: fixed;*/
  background-color: #ffffff;
  /*padding: 6em;*/
  width: 25em;
  /*width: 100%;*/
  height: 100%;
  overflow: hidden;
}

.WelcomeWords {
  font-family: Impact;
  text-align: center;
  font-size: 1.4em;
  height: 20%;
}


.CloseSign {
  /*text-align: center;*/
  padding-top:2em;
  padding-bottom:2em;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.CloseSign:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.CloseSign span {
  font-size: 1.4em;
  /*height:5em;*/
  padding-left:15%;
  color: black

}