.BlogContent {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 100%;
  float: left;
  /*border: 1px solid red;*/
}

.BlogContent > div{
    height: 100%;
}

.BlogContentMain {
  /*padding: 5%;*/
  height: 100%;
  
}
